.box{
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.488);
    width: 480px;
    height: 500px;
    padding: 10px;
    border-radius: 0px;
}
.h{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size:40px;
    
}
.f{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size:40px;
    background: linear-gradient(45deg,rgb(255, 111, 0), white, rgb(23, 215, 23));
    border-radius: 30px;
}
.body{
    background-color:#f6f8fb;
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAMZ_OGTqFJu27Tq4d3WpHuObl3RQ6_udl2w&usqp=CAU");
    background-size: cover;
    
}
p{
    font-size: small;
}
.a11{
    grid-area: a1;
}
.a12{
    grid-area: b1;
}
.a13{
    grid-area: c1;
}
.a21{
    grid-area: a2;
}
.a22{
    grid-area: b2;
}
.a23{
    grid-area: c2;
}
.main{
    display: grid;
    grid-template-areas: 'a1 b1 c1'
                         'a2 b2 c2';
}

.song{
    padding-left: 400px;
    grid-area: x;
}
.na{
    grid-area: y;
    padding-right: 400px;
    padding-top: 10px;
}
.s{
    display: grid;
    grid-template-areas: 'x y';
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    
}
